




/*
     FILE ARCHIVED ON 4:12:14 Mar 2, 2005 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:46:17 Nov 10, 2014.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/

BODY {
	ALINK="#F9F366"; VLINK="#FF9933"; FONT-SIZE: 12px; MARGIN: 0px 0px 0px 0px; OVERFLOW: auto; COLOR: #3d3d3d; FONT-FAMILY: Verdana, "Lucida Sans Unicode", Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}

TABLE {
	FONT-SIZE: 12px; COLOR: #3d3d3d; FONT-FAMILY: Verdana, "Lucida Sans Unicode", Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}

P {
	PADDING-RIGHT: 10px; FONT-SIZE: 12px; OVERFLOW: auto; COLOR: #D1CECE; FONT-FAMILY: Verdana, "Lucida Sans Unicode", Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}

B {
	PADDING-RIGHT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; OVERFLOW: auto; COLOR: #838282; FONT-FAMILY: Verdana, "Lucida Sans Unicode", Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}

H1 {
	PADDING-RIGHT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; OVERFLOW: auto; COLOR: #006600; FONT-FAMILY: Verdana, "Lucida Sans Unicode", Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
H2 {
	PADDING-RIGHT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN-LEFT: 8px; OVERFLOW: auto; COLOR: olive; FONT-FAMILY: Verdana, "Lucida Sans Unicode", Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
H3 {
	PADDING-RIGHT: 8px; FONT-SIZE: 14px; MARGIN-LEFT: 0px; OVERFLOW: auto; COLOR: #006600; FONT-FAMILY: Verdana, "Lucida Sans Unicode", Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
H5 {
	PADDING-RIGHT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN-LEFT: 8px; OVERFLOW: auto; COLOR: #3d3d3d; FONT-FAMILY: Verdana, "Lucida Sans Unicode", Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
A {
	FONT-SIZE: 10pt; COLOR: #006600; TEXT-DECORATION: underline; FONT-WEIGHT: bold
}
A:hover {
	COLOR: #000
}
A:active {
	COLOR: navy; TEXT-DECORATION: underline
}
A:unknown {
	COLOR: navy; TEXT-DECORATION: underline
}
.kuvateksti {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 10px; VERTICAL-ALIGN: top; COLOR: #d2691e; LINE-HEIGHT: normal; FONT-STYLE: normal; BACKGROUND-COLOR: white
}
.linkkiotsikot {
	BORDER-RIGHT: maroon 1px; PADDING-RIGHT: 4px; BORDER-TOP: maroon 1px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 13px; VERTICAL-ALIGN: top; BORDER-LEFT: maroon 1px; COLOR: #800000; LINE-HEIGHT: 22px; BORDER-BOTTOM: maroon 1px; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #f5deb3
}
.kysymys {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 7px; VERTICAL-ALIGN: top; COLOR: black; LINE-HEIGHT: normal; BACKGROUND-COLOR: #bdf2bf
}
