html {
overflow: auto;
}

BODY {
	background-image:url(images/interlace_bg.gif); background-repeat:repeat; ALINK="#F9F366"; VLINK="#FF9933"; FONT-SIZE: 12px; MARGIN: 0px 0px 0px 0px; OVERFLOW: auto; COLOR: #D1CECE; FONT-FAMILY: Verdana, "Lucida Sans Unicode", Arial, Helvetica, Geneva, Swiss, SunSans-Regular

/* background-color: #020122; */
}

TABLE {
	FONT-SIZE: 12px; COLOR: #D1CECE; FONT-FAMILY: Verdana, "Lucida Sans Unicode", Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}

.linkit {
        FONT-SIZE: 11px; COLOR: #A7D54D; FONT-FAMILY: Tahoma, Verdana, Arial; text-decoration: none;
}

P {
	PADDING-RIGHT: 0px; FONT-SIZE: 12px; OVERFLOW: auto; COLOR: #D1CECE; MARGIN-LEFT: 0px; FONT-FAMILY: Verdana, "Lucida Sans Unicode", Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}

B {
	PADDING-RIGHT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; OVERFLOW: auto; MARGIN-LEFT: 0px; COLOR: #838282; FONT-FAMILY: Verdana, "Lucida Sans Unicode", Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}

H1 {
	PADDING-RIGHT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; OVERFLOW: auto; MARGIN-LEFT: 0px; COLOR: #838282; FONT-FAMILY: Verdana, "Lucida Sans Unicode", Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
H2 {
	PADDING-RIGHT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px;  MARGIN-RIGHT: 2px; MARGIN-LEFT: 2px; OVERFLOW: auto; COLOR: #838282; FONT-FAMILY: Verdana, "Lucida Sans Unicode", Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
H3 {
	PADDING-RIGHT: 8px; FONT-SIZE: 14px; MARGIN-LEFT: 0px; OVERFLOW: auto; COLOR: #006600; FONT-FAMILY: Verdana, "Lucida Sans Unicode", Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
H5 {
	PADDING-RIGHT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN-LEFT: 8px; OVERFLOW: auto; COLOR: #3d3d3d; FONT-FAMILY: Verdana, "Lucida Sans Unicode", Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
A {
	FONT-SIZE: 10pt; COLOR: #00CC00; TEXT-DECORATION: underline; FONT-WEIGHT: bold
}

.galluplink {
    FONT-SIZE: 10px; COLOR: #FFFFFF; FONT-FAMILY: Tahoma, Verdana, Arial; text-decoration: none;
}

.galluplist {
    list-style-image:url(images/fuckyou.gif);
}


A:hover {
	COLOR: #0BF300}
A:active {
	COLOR: navy; TEXT-DECORATION: underline
}
A:unknown {
	COLOR: navy; TEXT-DECORATION: underline
}
.kuvateksti {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 10px; VERTICAL-ALIGN: top; COLOR: #d2691e; LINE-HEIGHT: normal; FONT-STYLE: normal; BACKGROUND-COLOR: white
}
.linkkiotsikot {
	BORDER-RIGHT: maroon 1px; PADDING-RIGHT: 4px; BORDER-TOP: maroon 1px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 13px; VERTICAL-ALIGN: top; BORDER-LEFT: maroon 1px; COLOR: #800000; LINE-HEIGHT: 22px; BORDER-BOTTOM: maroon 1px; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #f5deb3
}
.kysymys {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 7px; VERTICAL-ALIGN: top; COLOR: black; LINE-HEIGHT: normal; BACKGROUND-COLOR: #bdf2bf
}

/* Lomake-elementit  */
input {
	background-color: #3399FF;
	color: #ffffff;	
	border: 1px solid #666666;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}
textarea {
	background-color: #3399FF;
	color: #ffffff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}
.button {
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	height: 21px;
	border-width: 0px;
	border-color: #7EBEFF;
	background-image:  url("http://koti.mbnet.fi/anssi78/images/button_bg_col.gif");
	background-color: #0C79E7;
}
/* ----------------- */


img.vasenlogo
{
position:absolute;
left:0px;
top:0px;
}

img.keskiotsikko
{
display: block;
    margin-left: auto;
    margin-right: auto
}

.content 
{
 /* display: block;
   margin-left: auto;
   margin-right: auto;
  width:540px;  
  border:groove thin #417EBD;
  padding: 10px 10px 10px 10px;
  background-color: #000000;  */
  
  display:block;
   margin-left: 210px;
   margin-right: 215px;
   margin-top: 11px;
  width:auto;  
  border:groove thin #417EBD;
  padding: 10px 10px 10px 10px; 
  background-color: #000000;
}

.snowblog 
{
 /* display: block;
   margin-left: auto;
   margin-right: auto;
  width:540px;  
  border:groove thin #417EBD;
  padding: 10px 10px 10px 10px;
  background-color: #000000;  */
  
  display:block;
   margin-left: 210px;
   margin-right: 215px;
   margin-top: 20px;
  width:auto;
  height:auto;
  padding: 0px 0px 0px 0px; 
  background-color: #000000;
}


.foorumi
{
  display:block; 
   width:735px;
  /* margin-left: 110px;
   margin-right: 115px; */
    margin-left: auto;
    margin-right: auto;
   margin-top: 11px;
  border:groove thin #417EBD;
  padding: 10px 10px 10px 10px; 
  background-color: #000000;
}


.kaksimarjaa
{
  position:absolute;
  left:1px;
  top:460px;
  width:185px; 
  padding: 1px 1px 0px 0px;
  background-color:#000000;
}


.demoteam
{
  background:url(/anssi78/demoteam/demoteam.gif);
  background-position:right top;
  background-repeat:no-repeat;
  display: block;
  margin-left: 100px;
  margin-right: 100px;
  width:auto;
  padding: 0px 0px 20px 20px;
  background-color: #000000;
}



.news
{
  position:absolute;
  left:3px;
  top:157px;
  width:180px; 
  border-width:thin; 
  border-style:outset;   
  /* border:groove thin #417EBD; */
  border-color:#417EBD; 
  
  padding: 2px 2px 2px 3px;
  background-color:#35495A;
}

.palautelinkki
{
  position:absolute;
  left:3px;
  top:430px;
  width:180px; 
  border-width:thin; 
  border-style:outset;   
  border:groove thin #417EBD;
  border-color:#838282; 
  padding: 2px 2px 2px 3px;
  background-color:#000000;  
}
/*
.palautelinkki
{
  position:absolute;
  left:3px;
  top:320px;
  width:160px; 
  border-width:thin;  
  padding: 2px 2px 2px 3px;
} */

.links
{
  position:absolute;
  right:7px;
  top:155px;
  width:185px;
 /* background-color:#020122; */
  a.text-decoration:none;
}

.copyright
{
  position:absolute;
  left:10px;
  bottom:5px;
  width:300px; 
}

.etusivucode
{
  position:absolute;
  right:7px;
  top:2px;
  width:187px;
  background-color:#020122;
}

.koristekuva_vasen
{
  position:absolute;
  left:0px;
  top:0px;
/*  width:187px; */
  background-color:#020122;
}